<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class='portrait' src="./img/roberto-nickson-To57QlgkoIo-unsplash.jpg">
    </div>

    {{>footer}}
</body>


</html>